.container-fluid.App {
    text-align: center;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.card.card-items {
    position: absolute;
    left: 55px;
    top: 80px;
    z-index: 10000;
    max-height: 80vh;
    max-width: 40vw;
}

.card.card-items .card-header {
    background: none;
}

.card.card-items  .card-body {
    position: relative;
    overflow-y: auto;
    min-height: 100px;
    padding-top: 0;
}

.card.card-items  .card-body.items-loading {
    overflow-y: hidden;
}

.items-loading::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,.5);
    z-index: 2;
}